In [1]:
import pandas as pd
import sqlite3
con = sqlite3.connect('assignment.db')
cursor = con.cursor()

sql = "SELECT n_title,id FROM IMDB;"  # Select all entries from contacts table
try:
    cursor.execute(sql)
    con.commit()
    print("Entry successfully retrieved.")
except Exception as e:
    print("Exception occurred.",e)

result = cursor.fetchall()

#print(type(result))
#print(result)

print('\n')
con.close()
df = pd.DataFrame(result, columns=['title','id'])
df

Entry successfully retrieved.

                               title         id
0                   Star Trek Beyond  tt2660888
1            Star Trek Into Darkness  tt1408101
2                          Star Trek  tt0796366
3            Star Trek: Insurrection  tt0120844
4    Star Trek V: The Final Frontier  tt0098382
..                               ...        ...
134                        The Purge  tt2184339
135               The Purge: Anarchy  tt2975578
136                       12 Monkeys  tt0114746
137                             Dune  tt1160419
138                            Tenet  tt6723592

[139 rows x 2 columns]

In [10]:
import requests
import time

api_search1 = "https://imdb-api.com/en/API/Ratings/k_tj3n43f9/"
api_search2 = "https://imdb-api.com/en/API/Ratings/k_q67cbnpo/"

imDb_score = []
mct_score= []
rT_score=[]
r_title=[]
r_id=[]
flag=0
bp=[]
for i in df['id']:
    if flag%2 == 0:
        r=requests.get(api_search1+i)
    else:
        r=requests.get(api_search2+i)
    
    content = r.json()
    
    print(content['title'],' IMDB:',content['imDb'],'MTC:',content['metacritic'],'RottenTomatoes:',content['rottenTomatoes'])
    
    if df.loc[flag,'title'] == content['title']:
        print('No.',flag,' match')
        imDb_score.append(content['imDb'])
        mct_score.append(content['metacritic'])
        rT_score.append(content['rottenTomatoes'])
        r_title.append(content['title'])
        r_id.append(content['imDbId'])
        
    else:
        print('No.',flag,' dont`t match, recorded')
        bp.append(flag)
        imDb_score.append('erro')
        mct_score.append('erro')
        rT_score.append('erro')
        r_title.append('erro')
        r_id.append('erro')
    '''
    try:    
        info = content[0]

        print(info['title'],info['id'],info['image'],(info['description']))

        #print(df.loc[flag,'year'],type(df.loc[flag,'year']))
        #print(int(info['description'][1:5]),type(int(info['description'][1:5])))
        try:
            if df.loc[flag,'year'] == int(info['description'][1:5]):
                print('No.',flag,' match')
            else:
                print('Error, years don`t match')
                print('No.',flag,' dont`t match, recorded')
                bp.append(flag)
        except ValueError as v:
            print('Error, can`t` find years')
            print('No.',flag,' dont`t match, recorded')
            bp.append(flag)

        mid.append(info['id'])
        image.append(info['image'])
        n_title.append(info['title'])
     
    except IndexError as ide:
        print('Error, no feedback')
        print('No.',flag,' dont`t match, recorded')
        bp.append(flag)
        mid.append('erro')
        image.append('erro')
        n_title.append('erro')
     '''

    flag = flag+1
    time.sleep(1)

print(bp)

Star Trek Beyond  IMDB: 7.1 MTC: 68 RottenTomatoes:
No. 0  match
Star Trek Into Darkness  IMDB: 7.7 MTC: 72 RottenTomatoes: 84
No. 1  match
Star Trek  IMDB: 7.9 MTC: 82 RottenTomatoes: 94
No. 2  match
Star Trek: Insurrection  IMDB: 6.4 MTC: 64 RottenTomatoes:
No. 3  match
Star Trek V: The Final Frontier  IMDB: 5.5 MTC: 43 RottenTomatoes:
No. 4  match
Star Trek VI: The Undiscovered Country  IMDB: 7.2 MTC: 65 RottenTomatoes:
No. 5  match
Star Trek III: The Search for Spock  IMDB: 6.7 MTC: 56 RottenTomatoes:
No. 6  match
Star Trek II: The Wrath of Khan  IMDB: 7.7 MTC: 67 RottenTomatoes: 88
No. 7  match
Star Trek: Nemesis  IMDB: 6.4 MTC: 51 RottenTomatoes: 39
No. 8  match
Star Trek IV: The Voyage Home  IMDB: 7.3 MTC: 71 RottenTomatoes: 82
No. 9  match
Star Trek: First Contact  IMDB: 7.6 MTC: 71 RottenTomatoes: 92
No. 10  match
Star Trek: The Motion Picture  IMDB: 6.4 MTC: 48 RottenTomatoes: 43
No. 11  match
Star Wars: Episode VI - Return of the Jedi  IMDB: 8.3 MTC: 58 RottenTomatoes:
No. 12  match
Star Wars: Episode V - The Empire Strikes Back  IMDB: 8.7 MTC: 82 RottenTomatoes:
No. 13  match
Rogue One: A Star Wars Story  IMDB: 7.8 MTC: 65 RottenTomatoes: 84
No. 14  match
Solo: A Star Wars Story  IMDB: 6.9 MTC: 62 RottenTomatoes:
No. 15  match
Star Wars: Episode VII - The Force Awakens  IMDB: 7.9 MTC: 80 RottenTomatoes:
No. 16  match
Star Wars: The Clone Wars  IMDB: 5.9 MTC: 35 RottenTomatoes:
No. 17  match
Star Wars: Episode IV - A New Hope  IMDB: 8.6 MTC: 90 RottenTomatoes:
No. 18  match
Jupiter Ascending  IMDB: 5.3 MTC: 40 RottenTomatoes: 27
No. 19  match
Mission to Mars  IMDB: 5.7 MTC: 34 RottenTomatoes:
No. 20  match
Lucy in the Sky  IMDB: 4.8 MTC: 36 RottenTomatoes: 21
No. 21  match
Solaris  IMDB: 8.1 MTC: 90 RottenTomatoes:
No. 22  match
The Martian  IMDB: 8.0 MTC: 80 RottenTomatoes: 91
No. 23  match
The Wandering Earth  IMDB: 6.0 MTC: 57 RottenTomatoes: 71
No. 24  match
Gemini Man  IMDB: 5.7 MTC: 38 RottenTomatoes: 26
No. 25  match
Frankenstein  IMDB: 7.8 MTC: 91 RottenTomatoes:
No. 26  match
Victor Frankenstein  IMDB: 6.0 MTC: 36 RottenTomatoes: 27
No. 27  match
Frankenstein  IMDB: 7.8 MTC: 91 RottenTomatoes:
No. 28  match
Mary Shelley's Frankenstein  IMDB: 6.4 MTC:  RottenTomatoes:
No. 29  match
Annihilation  IMDB: 6.8 MTC: 79 RottenTomatoes:
No. 30  match
Cloud Atlas  IMDB: 7.4 MTC: 55 RottenTomatoes:
No. 31  match
The City of Lost Children  IMDB: 7.5 MTC: 73 RottenTomatoes:
No. 32  match
Inception  IMDB: 8.8 MTC: 74 RottenTomatoes: 87
No. 33  match
District 9  IMDB: 7.9 MTC: 81 RottenTomatoes:
No. 34  match
Minority Report  IMDB: 7.6 MTC: 80 RottenTomatoes: 90
No. 35  match
I, Robot  IMDB: 7.1 MTC: 59 RottenTomatoes: 56
No. 36  match
Empire of the Wolves  IMDB: 5.9 MTC:  RottenTomatoes:
No. 37  match
The Cell  IMDB: 6.4 MTC: 40 RottenTomatoes:
No. 38  match
The Thirteenth Floor  IMDB: 7.1 MTC: 36 RottenTomatoes:
No. 39  match
Brainstorm  IMDB: 6.4 MTC: 57 RottenTomatoes:
No. 40  match
The Man from Earth  IMDB: 7.9 MTC:  RottenTomatoes:
No. 41  match
Android Apocalypse  IMDB: 4.0 MTC:  RottenTomatoes:
No. 42  match
Metropolis  IMDB: 8.3 MTC: 98 RottenTomatoes: 97
No. 43  match
Real Steel  IMDB: 7.0 MTC: 56 RottenTomatoes:
No. 44  match
S1m0ne  IMDB: 6.1 MTC: 49 RottenTomatoes:
No. 45  match
I, Robot  IMDB: 7.1 MTC: 59 RottenTomatoes: 56
No. 46  match
Big Hero 6  IMDB: 7.8 MTC: 74 RottenTomatoes:
No. 47  match
Astro Boy  IMDB: 6.3 MTC: 53 RottenTomatoes:
No. 48  match
WALL·E  IMDB: 8.4 MTC: 95 RottenTomatoes: 95
No. 49  match
Pacific Rim  IMDB: 6.9 MTC: 65 RottenTomatoes:
No. 50  match
Her  IMDB: 8.0 MTC: 90 RottenTomatoes: 94
No. 51  match
Chappie  IMDB: 6.8 MTC: 41 RottenTomatoes: 32
No. 52  match
A.I. Artificial Intelligence  IMDB: 7.2 MTC: 65 RottenTomatoes: 75
No. 53  match
Bicentennial Man  IMDB: 6.9 MTC: 42 RottenTomatoes:
No. 54  match
Ex Machina  IMDB: 7.7 MTC: 78 RottenTomatoes:
No. 55  match
Appleseed Ex Machina  IMDB: 7.1 MTC:  RottenTomatoes:
No. 56  match
Appleseed  IMDB: 6.4 MTC:  RottenTomatoes:
No. 57  match
The Dark Knight  IMDB: 9.0 MTC: 84 RottenTomatoes:
No. 58  match
Surrogates  IMDB: 6.3 MTC: 45 RottenTomatoes: 37
No. 59  match
2036: Nexus Dawn  IMDB: 7.0 MTC:  RottenTomatoes:
No. 60  match
Blade Runner: Black Out 2022  IMDB: 7.3 MTC:  RottenTomatoes:
No. 61  match
Blade Runner 2049  IMDB: 8.0 MTC: 81 RottenTomatoes:
No. 62  match
Blade Runner  IMDB: 8.1 MTC: 84 RottenTomatoes:
No. 63  match
Paprika  IMDB: 7.7 MTC: 81 RottenTomatoes: 85
No. 64  match
Ghost in the Shell  IMDB: 6.3 MTC: 52 RottenTomatoes:
No. 65  match
Ghost in the Shell  IMDB: 6.3 MTC: 52 RottenTomatoes:
No. 66  match
Transcendence  IMDB: 6.3 MTC: 42 RottenTomatoes:
No. 67  match
Chappie  IMDB: 6.8 MTC: 41 RottenTomatoes: 32
No. 68  match
eXistenZ  IMDB: 6.8 MTC: 68 RottenTomatoes:
No. 69  match
Robocop  IMDB: 7.6 MTC: 67 RottenTomatoes:
No. 70  dont`t match, recorded
Alita: Battle Angel  IMDB: 7.3 MTC: 53 RottenTomatoes: 61
No. 71  match
Paycheck  IMDB: 6.3 MTC: 43 RottenTomatoes:
No. 72  match
The Time Machine  IMDB: 6.0 MTC: 42 RottenTomatoes:
No. 73  match
Edge of Tomorrow  IMDB: 7.9 MTC: 71 RottenTomatoes:
No. 74  match
The Terminator  IMDB: 8.0 MTC: 84 RottenTomatoes: 100
No. 75  match
Men in Black 3  IMDB: 6.8 MTC: 58 RottenTomatoes:
No. 76  match
Looper  IMDB: 7.4 MTC: 84 RottenTomatoes:
No. 77  match
Deja Vu  IMDB: 7.1 MTC: 59 RottenTomatoes:
No. 78  match
The Butterfly Effect  IMDB: 7.6 MTC: 30 RottenTomatoes: 33
No. 79  match
X-Men: Days of Future Past  IMDB: 7.9 MTC: 75 RottenTomatoes:
No. 80  match
About Time  IMDB: 7.8 MTC: 55 RottenTomatoes:
No. 81  match
Ivan Vasilievich: Back to the Future  IMDB: 8.4 MTC:  RottenTomatoes:
No. 82  match
Sleeper  IMDB: 7.2 MTC: 77 RottenTomatoes:
No. 83  match
Back to the Future Part III  IMDB: 7.4 MTC: 55 RottenTomatoes:
No. 84  match
The Time Traveler's Wife  IMDB: 7.1 MTC: 47 RottenTomatoes:
No. 85  match
Back to the Future Part II  IMDB: 7.8 MTC: 57 RottenTomatoes:
No. 86  match
Back to the Future  IMDB: 8.5 MTC: 87 RottenTomatoes:
No. 87  match
The Abyss  IMDB: 7.5 MTC: 62 RottenTomatoes:
No. 88  match
X-Men: Dark Phoenix  IMDB: 5.7 MTC: 43 RottenTomatoes: 22
No. 89  match
Aquaman  IMDB: 6.9 MTC: 55 RottenTomatoes:
No. 90  match
Alien: Covenant  IMDB: 6.4 MTC: 65 RottenTomatoes:
No. 91  match
Rampage  IMDB: 6.1 MTC: 45 RottenTomatoes:
No. 92  match
Watchmen  IMDB: 7.6 MTC: 56 RottenTomatoes:
No. 93  match
Inuyashiki  IMDB: 6.6 MTC:  RottenTomatoes:
No. 94  match
Avengers: Endgame  IMDB: 8.4 MTC: 78 RottenTomatoes: 94
No. 95  match
Black Panther  IMDB: 7.3 MTC: 88 RottenTomatoes:
No. 96  match
Jurassic World: Fallen Kingdom  IMDB: 6.2 MTC: 51 RottenTomatoes:
No. 97  match
Avengers: Infinity War  IMDB: 8.4 MTC: 68 RottenTomatoes:
No. 98  match
Spider-Man: Into the Spider-Verse  IMDB: 8.4 MTC: 87 RottenTomatoes:
No. 99  match
X-Men: Days of Future Past  IMDB: 7.9 MTC: 75 RottenTomatoes:
No. 100  match
Captain America: The Winter Soldier  IMDB: 7.7 MTC: 70 RottenTomatoes: 90
No. 101  match
Captain America: Civil War  IMDB: 7.8 MTC: 75 RottenTomatoes:
No. 102  match
Spider-Man: Homecoming  IMDB: 7.4 MTC: 73 RottenTomatoes:
No. 103  match
Logan  IMDB: 8.1 MTC: 77 RottenTomatoes:
No. 104  match
Avengers: Age of Ultron  IMDB: 7.3 MTC: 66 RottenTomatoes:
No. 105  match
X-Men: Apocalypse  IMDB: 6.9 MTC: 52 RottenTomatoes:
No. 106  match
Doctor Strange  IMDB: 7.5 MTC: 72 RottenTomatoes:
No. 107  match
Wonder Woman  IMDB: 7.4 MTC: 76 RottenTomatoes:
No. 108  match
Superman: Unbound  IMDB: 6.6 MTC:  RottenTomatoes: 100
No. 109  match
Superman III  IMDB: 5.0 MTC: 44 RottenTomatoes:
No. 110  match
Superman II  IMDB: 6.8 MTC: 83 RottenTomatoes:
No. 111  match
Superman  IMDB: 7.3 MTC: 80 RottenTomatoes: 94
No. 112  match
Dark City  IMDB: 7.6 MTC: 66 RottenTomatoes:
No. 113  match
Jumanji: Welcome to the Jungle  IMDB: 6.9 MTC: 58 RottenTomatoes:
No. 114  match
Pacific Rim: Uprising  IMDB: 5.6 MTC: 44 RottenTomatoes:
No. 115  match
Replicas  IMDB: 5.5 MTC: 19 RottenTomatoes:
No. 116  match
Bird Box  IMDB: 6.6 MTC: 51 RottenTomatoes: 63
No. 117  match
Mortal Engines  IMDB: 6.1 MTC: 44 RottenTomatoes:
No. 118  match
Annihilation  IMDB: 6.8 MTC: 79 RottenTomatoes:
No. 119  match

Ready Player One  IMDB: 7.4 MTC: 64 RottenTomatoes:
No. 120  match
Nausicaä of the Valley of the Wind  IMDB: 8.1 MTC: 86 RottenTomatoes:
No. 121  match
Final Fantasy VII: Advent Children  IMDB: 7.2 MTC:  RottenTomatoes:
No. 122  dont`t match, recorded
Mazinger Z vs. Devilman  IMDB: 6.7 MTC:  RottenTomatoes:
No. 123  match
Elysium  IMDB: 6.6 MTC: 61 RottenTomatoes:
No. 124  match
Divergent  IMDB: 6.6 MTC: 48 RottenTomatoes:
No. 125  match
The Divergent Series: Insurgent  IMDB: 6.2 MTC: 42 RottenTomatoes: 28
No. 126  match
The Hunger Games: Mockingjay - Part 1  IMDB: 6.6 MTC: 64 RottenTomatoes:
No. 127  match
None  IMDB: None MTC: None RottenTomatoes: None
No. 128  dont`t match, recorded
Maze Runner: The Death Cure  IMDB: 6.3 MTC: 50 RottenTomatoes:
No. 129  match
None  IMDB: None MTC: None RottenTomatoes: None
No. 130  dont`t match, recorded
None  IMDB: None MTC: None RottenTomatoes: None
No. 131  dont`t match, recorded
None  IMDB: None MTC: None RottenTomatoes: None
No. 132  dont`t match, recorded
None  IMDB: None MTC: None RottenTomatoes: None
No. 133  dont`t match, recorded
None  IMDB: None MTC: None RottenTomatoes: None
No. 134  dont`t match, recorded
None  IMDB: None MTC: None RottenTomatoes: None
No. 135  dont`t match, recorded
None  IMDB: None MTC: None RottenTomatoes: None
No. 136  dont`t match, recorded
None  IMDB: None MTC: None RottenTomatoes: None
No. 137  dont`t match, recorded
None  IMDB: None MTC: None RottenTomatoes: None
No. 138  dont`t match, recorded
[70, 122, 128, 130, 131, 132, 133, 134, 135, 136, 137, 138]

In [11]:
'''
print(imDb_score,len(imDb_score))
print(mct_score,len(mct_score))
print(rT_score,len(rT_score))
'''
print('title',len(r_title),'id',len(r_id),'IMDB:',len(imDb_score),'MTC:',len(mct_score),'RottenTomatoes:',len(rT_score))
print(bp)
print(flag)

title 139 id 139 IMDB: 139 MTC: 139 RottenTomatoes: 139
[70, 122, 128, 130, 131, 132, 133, 134, 135, 136, 137, 138]
139

In [12]:
#print('title',len(r_title),'id',len(r_id),'IMDB:',len(imDb_score),'MTC:',len(mct_score),'RottenTomatoes:',len(rT_score))
dic={'r_title':r_title,'r_id':r_id,'IMDB':imDb_score,'MTC':mct_score,'RottenTomatoes':rT_score}
df2 = pd.DataFrame(dic)
df2.to_csv('rating.csv',mode='w',index=False)
df2

                             r_title       r_id  IMDB   MTC RottenTomatoes
0                   Star Trek Beyond  tt2660888   7.1    68
1            Star Trek Into Darkness  tt1408101   7.7    72             84
2                          Star Trek  tt0796366   7.9    82             94
3            Star Trek: Insurrection  tt0120844   6.4    64
4    Star Trek V: The Final Frontier  tt0098382   5.5    43
..                               ...        ...   ...   ...            ...
134                             erro       erro  erro  erro           erro
135                             erro       erro  erro  erro           erro
136                             erro       erro  erro  erro           erro
137                             erro       erro  erro  erro           erro
138                             erro       erro  erro  erro           erro

[139 rows x 5 columns]

In [2]:
import requests

api_search = "https://imdb-api.com/en/API/Ratings/k_qn8i9tcr/"

#print(result[0],type(result[0]))
#print(str(result[0]).strip(''))
#print(df.iloc[0,0],type(df.iloc[0,0]))

r=requests.get(api_search+df.loc[0,'id'])

print(r.text)

{"imDbId":"tt2660888","title":"Star Trek Beyond","fullTitle":"Star Trek Beyond (2016)","type":"Movie","year":"2016","imDb":"7.1","metacritic":"68","theMovieDb":"6.8","rottenTomatoes":"","tV_com":"8.8","filmAffinity":"6.0","errorMessage":""}

In [3]:
content = r.json()

#content = content["results"]

print(content)
print(type(content))

{'imDbId': 'tt2660888', 'title': 'Star Trek Beyond', 'fullTitle': 'Star Trek Beyond (2016)', 'type': 'Movie', 'year': '2016', 'imDb': '7.1', 'metacritic': '68', 'theMovieDb': '6.8', 'rottenTomatoes': '', 'tV_com': '8.8', 'filmAffinity': '6.0', 'errorMessage': ''}
<class 'dict'>

In [6]:
#info = content[0]

print(content['title'])
print('IMDB:',content['imDb'],'MTC:',content['metacritic'],'RottenTomatoes:',content['rottenTomatoes'])

Star Trek Beyond
IMDB: 7.1 MTC: 68 RottenTomatoes:

In [8]:
#print((info['description']))
print(df.loc[0,'title'])
#print(int(info['description'][1:5]))

if df.loc[0,'title'] == content['title']:
    print("match")
'''
try :
    #d=int(info['description'][1:-1])
    if df.loc[0,'title'] == content['title']:
        print("match")
except ValueError as v:
    print("Exception occurred.",v)
'''

Star Trek Beyond
match

'\ntry :\n    #d=int(info[\'description\'][1:-1])\n    if df.loc[0,\'title\'] == content[\'title\']:\n        print("match")\nexcept ValueError as v:\n    print("Exception occurred.",v)\n'